In [ ]:
#====================LIST FUNCTIONS ===================
#append
#clear
#copy
#count
#extends
#insert
#pop index
#remove value
#reverse
#sort

In [25]:
techs = ["Python", "Html", "Css", "Javascript", "Flask"]

techs

['Python', 'Html', 'Css', 'Javascript', 'Flask']

In [11]:
#============append=======
#adding data to a list 

techs.append("MySQL")
techs

['MySQL', 'MySQL']

In [5]:
#=================CLEAR TO DELETE ALL ITEMS==================
techs.clear()
techs

[]

In [9]:
#======================COPY ITEMS of A LIST===========
techs_copy = techs.copy()

In [10]:
techs_copy

['MySQL']

In [ ]:
x = techs

In [12]:
#=================COUNT ITEM IN LIST
techs.count("MySQL")

2

In [13]:
#=================EXTENSDS

x = ["BOOTSTAP"]

x.extend(techs)

x

['BOOTSTAP', 'MySQL', 'MySQL']

In [ ]:
a = ["A", "B", "C"]
b = ["1","2", "3"]
a + b

In [ ]:
#=================INSERT ===================
techs

In [16]:
techs.insert(1, "JQUERY")

In [17]:
techs

['JQUERY', 'JQUERY', 'MySQL', 'MySQL']

In [19]:
#=====================POP
techs.pop(0)
techs

['MySQL', 'MySQL']

In [26]:
#=================REMOVE==========
if "MySQL" in techs:
    techs.remove("MySQL")

techs

In [27]:
techs

['Python', 'Html', 'Css', 'Javascript', 'Flask']

In [28]:
#============REVERSE================
techs.reverse()

techs

['Flask', 'Javascript', 'Css', 'Html', 'Python']

In [29]:
#=======================SORT=================

a = ["b", "a", "c"]
b = [1,2,5,4,3]

a.sort()
b.sort()

In [30]:
a

['a', 'b', 'c']

In [31]:
b

[1, 2, 3, 4, 5]

In [34]:
#==================DICT FUNCTIONS==================
#clear   .clear()
#copy    .copy()   it adds values to a new variable
#items   .items()
#pop     .pop("Key")
#keys    it returns all the keys
#values  it returns all the values
#get value it is used to data by key, it is same as data["key"]
#update key value it is used to add key and values , it is same as data["key"] = val

data = {
    "Python" : 4,
    "Html" : 5
}
data

{'Python': 4, 'Html': 5}

In [33]:
#===========CLEAR==
data.clear()
#data = {}
data

{}

In [35]:
data_copy = data.copy()

data_copy

{'Python': 4, 'Html': 5}

In [36]:
data_copy = data
data_copy

{'Python': 4, 'Html': 5}

In [37]:
data.items()

dict_items([('Python', 4), ('Html', 5)])

In [38]:
#=================POP (REMOVE ITEMS) =============
if "Html" in data:
    data.pop("Html")

data

{'Python': 4}

In [40]:
#==============KEY============

list(data.keys())

['Python']

In [41]:
#=================VALUES===========

data.values()

dict_values([4])

In [12]:
#=================GET=========

data.get("Python")

4

In [15]:
data["Python"]

4

In [16]:
data

{'Python': 4, 'Html': 5}

In [42]:
#==================UPDATE (ADD KEY AND VAL TO DICT)
data.update({"CSS" : 4})

data

{'Python': 4, 'CSS': 4}

In [18]:
data["Flask"] = 5

In [19]:
data

{'Python': 4, 'Html': 5, 'CSS': 4, 'Flask': 5}

In [1]:
#=============IMPLEMENTATIONS========
#BOX OFFICE

#MOVIES DATABASE

movies = {
    "Movie1" : 40,
    "Movie2" : 50,
    "Movie3" : 30
}

In [2]:
#=======CREATE A FUCTION TO BOOK A SEAT

def book_seats():
    print(movies)
    movie_name = input("Please enter movie name")
    seats = input("Please enter seats")

    if movie_name in movies:
        if movies[movie_name] > 0 and movies[movie_name] - int(seats) > 0:
            print("YOUR SEATS RESERVED SUCCESSFULLY ", movie_name)
            movies[movie_name] =movies[movie_name] - int(seats)
            print(movies)
        else:
            print("SEATS NOT AVAILABE IN ", movie_name)
    else:
       print(movie_name, " NOT FOUND")

#=======================TASK============
user_database = {
    "user1" : "passw1",
    "user2" : "passw2"
}

#1 ASK FOR UER NAME
#2 PASSWORD
#3 Authenticate
#4 On authenticate book_seats() 
#5 if seats available then, data resevered data in new data = {}
#reserved data

In [9]:
book_seats()

{'Movie1': 40, 'Movie2': 50, 'Movie3': 30}
YOUR SEATS RESERVED SUCCESSFULLY  Movie1
{'Movie1': 20, 'Movie2': 50, 'Movie3': 30}

In [43]:
cred = {
    "user1" : "passw1",
    "user2" : "passw2"
}

In [44]:
def login():
    username = input("Please enter username")
    passw = input("Please Enter Password")
    if username in cred:
        if cred[username] == passw:
            print("Logged In successfully")
            book_seats()
        else:
            print("Passwor is incorrect!")
            login()
    else:
        print("User not found!")
        login()

Passwor is incorrect!
Logged In successfully
{'Movie1': 40, 'Movie2': 50, 'Movie3': 30}
Novie1  NOT FOUND