In [4]:
import sqlite3

#pip install db-sqlite3
#pip install pysqlite3

#documentation : https://docs.python.org/3/library/sqlite3.html

In [30]:
def sql(qry,action):
    data = []
    #connection
    conn = sqlite3.connect('app.db')
    c = conn.cursor()
    c.execute(qry)
    
    if action == 0:
        conn.commit()
    elif action == 1:
        data = c.fetchall()
    elif action == 2:
        data = c.fetchone()
         
    conn.close()
    return data

In [100]:
sql('''CREATE TABLE stocks1(
    date text, 
    trans text,
    symbol text,
    qty real,
    price real)
    '''
    , 0)

[]

In [76]:
sql("INSERT INTO stocks VALUES ('2006-01-08','BUY','c',100,56.14)", 0)

[]

In [77]:
sql("SELECT * from stocks;", 1)

[('2006-01-08', 'BUY', 'A', 100.0, 50.14),
 ('2006-01-08', 'BUY', 'b', 100.0, 52.14),
 ('2006-01-08', 'BUY', 'b', 100.0, 55.14),
 ('2006-01-08', 'BUY', 'c', 100.0, 56.14)]

In [ ]:

'''
create table

insert,update,delete  (commit required)

select, where clause

drop table  (commit required)

dynamic query 

sql_table to file

file to sql_table

'''


'''
to explore

data analytics
get rid of duplicates
data aggrigation (monthly, weekly, daily)
get unique value
joint conditions

'''

In [28]:
qry = "SELECT * from stocks;"

#step 1 (connection)
#connection
conn = sqlite3.connect('app.db')

#step 2 (define cursor)
c = conn.cursor()

#step 3 (execute)
c.execute(qry)

#step 4
#option 1
#commit if insert/delete/update/craete/drop
#conn.commit()

#option 2 (retrive all records)
data = c.fetchall()

#option3 (retrive one record)
data = c.fetchone()

#step 5
conn.close()

In [29]:
data

[('2006-01-06', 'BUY', 'RHAT', 100.0, 30.14)]

In [31]:
#==============CREATE=========
sql("CREATE TABLE user(username text,password text);", 0)

[]

In [35]:
#==================INSERT===========
sql("insert into user values ('Sam','58651ghfgp');", 0)

[]

In [105]:
#===============RETRIVE

#retrive only one column (username)
#data = sql("select username from user;", 1)

#retrive all columns
data = sql("select * from user;", 1)

for user in data:
    print(user)

('Adam', 'newpassword')

In [57]:
#====================WHERE CLAUS

sql("SELECT * from stocks where symbol = 'ASD' ; ", 1)

[('2006-01-08', 'BUY', 'ASD', 100.0, 50.14)]

In [67]:
#===================UPDATE 
qry = "UPDATE user set password = 'newpassword' where username = 'Adam';"

#sql(qry,0)

#=====================DELETE
qry = "DELETE from stocks;"
#sql(qry, 0)


#=================DROP TABLE
qry = 'DROP table stocks;'
sql(qry, 0)

[]

In [71]:
#=============dynamic qry

def get_user_details(username):
    qry = f"SELECT * from user where username = '{username}';"
    print(qry)

In [72]:
get_user_details("Adam")

SELECT * from user where username = 'Adam';

In [78]:
#=================sql to file

data = sql("SELECT * from stocks;", 1)

In [89]:
f = open("SQL_file.csv", "a")

for line in data:
    write_line =  ''
    for col in line:
        write_line +=  str(col) + ","
    write_line = write_line[:-1]
    f.write(write_line + "\n")

f.close()

In [102]:
#=================fie to sql
f  = open("SQL_file.csv", "r")

#INSERT INTO stocks VALUES ('2006-01-08','BUY','c',100,56.14)

for line in f:
    
    qry = "INSERT INTO stocks1 VALUES ("
    line = line.replace("\n", "")
    line = line.split(",")
    vals = ''
    for col in line:
        vals += f"'{col}',"

    vals = vals[:-1]
    
    vals += ")"
    qry += vals
    print(qry) 
    sql(qry,0)

INSERT INTO stocks1 VALUES ('2006-01-08','BUY','A','100.0','50.14')
INSERT INTO stocks1 VALUES ('2006-01-08','BUY','b','100.0','52.14')
INSERT INTO stocks1 VALUES ('2006-01-08','BUY','b','100.0','55.14')
INSERT INTO stocks1 VALUES ('2006-01-08','BUY','c','100.0','56.14')

In [103]:
data = sql("SELECT * from stocks1;", 1)

In [104]:
data

[('2006-01-08', 'BUY', 'A', 100.0, 50.14),
 ('2006-01-08', 'BUY', 'b', 100.0, 52.14),
 ('2006-01-08', 'BUY', 'b', 100.0, 55.14),
 ('2006-01-08', 'BUY', 'c', 100.0, 56.14)]

In [112]:
#==============authenticate
user= "Adam"
passw = 'newpassword'

data = sql(f"select * from user where username = '{user}' and password = '{passw}' ;", 1)
if len(data) > 0:
    print("Authenticated")
else:
    print("Username or password is incorrect!")

Authenticated